<!DOCTYPE html>
<html lang="en">
<head>
    
    <script src="./index.js"></script>
</head>
<body class="container">
    
    <header>
        <%- include('../partials/headers'); %>
    </header>
    
    <!-- <main> -->
        <div class="">
            <p><b>este va a ser tu pedido: <%= UserLogged.firstName %> <%= UserLogged.lastName %></b></p> 
            <div id="divUser">

            </div>
        
        </div>

        <div>
          
          <h3>tu pedido</h3>  
          <% if(Carrito){ %>

            <% Carrito.prods.forEach(function(prod) { %>

                    <div className='d-flex d-row'>
                                                            
                        <div>
                            <span className="title">Nombre:<%= prod.name %></span>
                            
                            <p><b>Price: <%= prod.price %></b></p> 

                            <p><b>description: <%= prod.description %></b></p> 

                            <p><b>cantidad: <%= prod.stock %></b></p> 
                        </div>
                                
                    </div>   
                <% }); %>  

                <form action="/api/orders/" method="POST">
                    <input type="submit" value="comprar">
        
                </form>
            <% }%>
            
            

        </div>
       
        
        
    <!-- </main> -->
    <%- include('../partials/footers'); %>

    
</body>
</html>