<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="index.js"></script>
</head>
<body class="container">
    
    <header>
        <%- include('../partials/headers'); %>
    </header>
    
    <!-- <main> -->
        <div class="">
            <h1>Proyecto final</h1>
             
            <p><b>Bienveido: <%= UserLogged %></b></p> 
            
            <div id="divUser">

            </div>
            
            

            <%- include('../partials/addProduct'); %>

            
        </div>
        <div>
           <br>
           <br>
           <div>
            <form action="/api/carrito">
                <input type="submit" value="ver carrito">

            </form>
           </div>
            <div id="lstProducts">
                <h2 style="color:blue">products</h2>
                <table id="tableProd" class="table">
                    <thead>
                      <tr>
                        <th scope="col">name</th>
                        <th scope="col">description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Image</th>
                        <th scope="col">stock</th>
                        <th scope="col">carrito</th>
                      </tr>
                    </thead>
                    <tbody id="productBody">

                    </tbody>
                </table>
    
              
            </div>
        </div>

        <div  class="">
            <h1>Chat</h1>
            
            

            <%- include('../partials/addMessage'); %>

            
        </div>

        <div id="lstMsgs">
            <h4>TEST</h4>
        </div>
    <!-- </main> -->
    <%- include('../partials/footers'); %>

    
 
</body>
</html>